@page "/makepayment/{fineid}"
@using Notes.Core;

@inject INoteServices _db;
@inject NavigationManager NavigationManager

        @if (FoundFine == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
<div class="govuk-width-container">

  <div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/checkreference">Check reference number</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/makepayment">Make payment</a>
    </li>
  </ol>
</div>

  <main class="govuk-main-wrapper">

    <hr class = "govuk-section-break--visible">
    <div class="govuk-grid-row">

      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-4 govuk-!-margin-top-4">Make a TV licence fine payment</h1>
      </div>

    </div>
   <hr class = "govuk-section-break--visible">

    <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    
    <h2 class="govuk-heading-m govuk-!-font-size-32">Fine Amount</h2>

<div class="govuk-inset-text govuk-!-font-size-27">
  £@FoundFine.Amount.00
</div>

    <p class="govuk-body">No personal card details will be stored.</p>
    <p class="govuk-body">Your email address is required for PAYMENT receipt only and is passed to the payment processor.</p>
    <p class="govuk-body">It is important to provide a valid email address if you require a receipt for this payment, without a valid email address a receipt cannot be issued.</p>
    <p class="govuk-body">The following cards are accepted.</p>

    <img src="https://courtfines.justice.gov.uk/courtfines/images/visa-logo.jpg" width="70" height="44">
    <img src="https://courtfines.justice.gov.uk/courtfines/images/mastercard-logo.png" width="70" height="44">
    <img src="https://courtfines.justice.gov.uk/courtfines/images/maestro-logo.png" width="70" height="44">
    </div>
    </div>
    <hr class = "govuk-section-break--visible govuk-!-margin-top-6">

    <fieldset class="govuk-fieldset">

  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    <h1 class="govuk-fieldset__heading">
      Enter your card details
    </h1>
  </legend>

   <div class="govuk-form-group">
      <label class="govuk-label govuk-!-margin-top-6" for="cardnumber">
    <b>Card number*</b>
  </label>
  <input class="govuk-input govuk-input--width-20" id="cardnumber" name="cardnumber" type="text" spellcheck="false" pattern="[0-9]*" inputmode="numeric">
  </div>

  <div class="govuk-form-group">
      <label class="govuk-label govuk-!-margin-top-6" for="cardnumber">
    <b>Expiry date*</b>
  </label>
  <div id="expiry-hint" class="govuk-hint govuk-!-font-size-16">
    For example, 10/20
  </div>
  <input class="govuk-input govuk-input--width-2" id="cardnumber" name="cardnumber" type="text" spellcheck="false" pattern="[0-9]*" inputmode="numeric">
  <span><b>/</b></span>
  <input class="govuk-input govuk-input--width-2" id="cardnumber" name="cardnumber" type="text" spellcheck="false" pattern="[0-9]*" inputmode="numeric">
  </div>

  <div class="govuk-form-group">
      <label class="govuk-label govuk-!-margin-top-4" for="nameoncard">
    <b>Name on card*</b>
  </label>
  <input class="govuk-input govuk-input--width-20" id="nameoncard" name="nameoncard" type="text" spellcheck="false">
  </div>

  <div class="govuk-form-group">
      <label class="govuk-label govuk-!-margin-top-4" for="securitycode">
    <b>Card security code*</b>
  </label>
  <div id="securitycode-hint" class="govuk-hint govuk-!-font-size-16">
    The last 3 digits on the back of the card
  </div>
  <input class="govuk-input govuk-input--width-3" id="securitycode" name="securitycode" type="text" spellcheck="false">
  <img src="https://i.ibb.co/QPTP9NJ/cvv-diagram.png" width="70" height="44">
  </div>


  <div class="govuk-form-group">
    <label class="govuk-label govuk-!-margin-top-4" for="amount_to_pay" required>
    <b>Amount to pay*</b>
  </label>
  <div id="amount_to_pay-hint" class="govuk-hint govuk-!-font-size-16">
    For part payment please enter an amount between £5.00 and your fine amount of £@FoundFine.Amount.00
  </div>
    <input  @bind="amount" class="govuk-input govuk-input--width-10" id="amount_to_pay" name="amount_to_pay" type="text" spellcheck="false">
  </div>

  <div class="govuk-form-group">
      <label class="govuk-label govuk-!-margin-top-4" for="email">
    <b>Email Address</b>
  </label>
  <input  @bind="email" class="govuk-input govuk-input--width-20" id="email" name="email" type="email" spellcheck="false" autocomplete="email">
  </div>

</fieldset>

<div class="govuk-button-group">
  <button data-prevent-double-click="true" @onclick="SuccessPayment" class="govuk-button" data-module="govuk-button">
    Make Payment
  </button>

  <a class="govuk-link"  href="/">Cancel</a>
</div>

<hr class = "govuk-section-break--visible">

<p class="govuk-body-l govuk-!-margin-top-7">Help with this service</p>
<p class="govuk-body">If you experience any problems making your payment, please contact the enforcement office using the contact details on your 'Notice of Fine' letter.</p>

  </main>
</div>

        }

@code {

    [Parameter]
    public string Fineid { get; set; }
    private Note FoundFine { get; set; }
    private string email;
    private double amount;
//
        protected override async Task OnInitializedAsync()
    {
        FoundFine =  _db.GetNote(Fineid);
        await Task.Delay(350);
    }

        private void  SuccessPayment()
    {
      // email
      // amount being paid
      // check amount repaid?

            var ticks = new DateTime(2010,9,25).Ticks;
            var ans = DateTime.Now.Ticks - ticks;
            var txRef = ans.ToString("x").ToUpper();
        FoundFine.TxRef = txRef;
        FoundFine.Email = email;
        FoundFine.AmountRepaid += amount;
        FoundFine.Status = "PAID";
        _db.UpdateNote(FoundFine);
      NavigationManager.NavigateTo("/confirmation/" + Fineid);
    }
}